@using MovieApp.MVC.ViewModels.GenreVM
@model List<GenreGetVM>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-danger">@TempData["Err"]</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name-@item.CreatedDate <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> <a asp-action="update" asp-route-id="@item.Id" class="btn btn-primary">Update</a> </li>
    }
</ul>

